<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="end">
        <ion-label color="success">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
  
      <ion-chip color="light" slot="end">
        <ion-label color="success">025</ion-label>
      </ion-chip>
  
      <ion-label>
        <div>
          <h2>pikachu</h2>
          <ion-badge color="eletric">eletric</ion-badge>
        </div>
      </ion-label>
  
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
  
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
  
      <ion-chip color="light" slot="end">
        <ion-label color="success">007</ion-label>
      </ion-chip>
  
      <ion-label>
        <div>
          <h2>squitle</h2>
          <ion-badge color="water">water</ion-badge>
        </div>
      </ion-label>
  
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>
  
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
  
      <ion-chip color="light" slot="end">
        <ion-label color="success">004</ion-label>
      </ion-chip>
  
      <ion-label>
        <div>
          <h2>charmander</h2>
          <ion-badge color="fire">fire</ion-badge>
        </div>
      </ion-label>
  
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
  
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
  
      <ion-chip color="light" slot="end">
        <ion-label color="success">004</ion-label>
      </ion-chip>
  
      <ion-label>
        <div>
          <h2>zararora</h2>
          <ion-badge color="eletric">eletric</ion-badge>
        </div>
      </ion-label>
  
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/807.png">
      </ion-thumbnail>
  
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  

</ion-content>